/* line 8, stdin */
body {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
  min-width: 300px; }

/* line 15, stdin */
section {
  margin-top: 10px; }

/* line 19, stdin */
.board {
  margin: auto;
  margin-top: 10px;
  width: 400px;
  height: 400px; }

/* line 26, stdin */
.boardRow {
  width: 100%;
  height: 6.66667%;
  border-bottom: 1px solid #2c3e50;
  box-sizing: border-box; }

/* line 33, stdin */
.boardCol {
  width: 6.66667%;
  height: 100%;
  background-color: #34495e;
  float: left;
  border-radius: 3px;
  border-left: 1px solid #2c3e50;
  box-sizing: border-box; }

/* line 44, stdin */
.boardCellCross {
  margin: auto;
  margin-top: 0.65%;
  width: 3px;
  height: 98.7%;
  background-color: #2ecc71;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 1.5px; }
  /* line 53, stdin */
  .boardCellCross:before {
    background-color: inherit;
    border-radius: inherit;
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

/* line 64, stdin */
.boardCellCircle {
  margin: 15%;
  width: 70%;
  height: 70%;
  border: 3px solid #e74c3c;
  border-radius: 50%;
  box-sizing: border-box; }

/* line 74, stdin */
.controls {
  width: 400px;
  height: 26.66667px;
  margin: auto; }

/* line 80, stdin */
.newGameCtrl, .sizeCtrl, .messages {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 6.66667%; }

/* line 87, stdin */
.sizeCtrl, .messages {
  float: right; }

/* line 91, stdin */
.messages {
  width: 73.33333%;
  z-index: 0; }

/* line 96, stdin */
#check {
  display: none; }

/* line 100, stdin */
.newContainer {
  z-index: 10; }

/* line 104, stdin */
.newMain, .sizeScale, .messagesContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  display: table;
  text-align: center; }

/* line 113, stdin */
.newMain, .sizeScale {
  cursor: pointer;
  background-color: #2ecc71;
  border-radius: 50%; }
  /* line 117, stdin */
  .newMain:hover, .sizeScale:hover {
    background-color: #e74c3c; }

/* line 122, stdin */
.newMainText {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #2c3e50;
  display: table-cell;
  vertical-align: middle; }

/* line 131, stdin */
.messagesContainer .newMainText {
  color: #2ecc71; }

/* line 134, stdin */
.messagesContainer .looseState {
  color: #e74c3c; }

/* line 138, stdin */
.newPlate {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5; }
  /* line 145, stdin */
  .newPlate:hover {
    background-color: #34495e; }

/* line 151, stdin */
.newPlate:nth-of-type(1) {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s; }

/* line 151, stdin */
.newPlate:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; }

/* line 159, stdin */
#check:checked ~ .newMain + .newContainer .newPlate {
  opacity: 1; }

/* line 162, stdin */
#check:checked ~ .newMain + .newContainer .newPlate:nth-of-type(1) {
  left: 100%; }

/* line 165, stdin */
#check:checked ~ .newMain + .newContainer .newPlate:nth-of-type(2) {
  left: 200%; }
